<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="silver.reminder.itinerary">

    <!-- 讀取與寫入外部記憶卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- micro phone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ChoiceHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--android:icon="@mipmap/ic_launcher"  &lt;!&ndash;設APK icon原預設值&ndash;&gt;-->
        <activity android:name=".ChoiceOutdoorAllOperationActivity"/>
        <activity android:name=".ChoiceTaskListPeriodActivity"/>
        <activity android:name=".CreateOrEditTaskActivity"/>
        <activity android:name=".CreateSoundFileActivity"/>
        <activity android:name=".CreateDingDongActivity"/>
        <activity android:name=".ListSoundFileActivity"/>
        <activity android:name=".ListTaskActivity"/>
        <activity android:name=".CreateOrEditTaskItemActivity"/>
        <activity android:name=".ListTaskItemActivity"/>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="silver.reminder.itinerary.util.GlobalNaming.INTENT_ACTION_NAME_ALARM_RECEIVER"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ReConfigReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".AlarmActivity">
        </activity>
    </application>

</manifest>