<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="silver.reminder.itinerary">

    <!-- 精確定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->


    <!-- 讀取與寫入外部記憶卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChoiceHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChoiceOutdoorAllOperationActivity"/>
        <activity android:name=".ChoiceTaskListPeriodActivity"/>
        <activity android:name=".CreateOrEditTaskActivity"/>
        <activity android:name=".CreateSoundFileActivity"/>
        <activity android:name=".CreateDingDongActivity"/>
        <activity android:name=".ListSoundFileActivity"/>
        <activity android:name=".ListTaskActivity"/>
        <activity android:name=".CreateOrEditTaskItemActivity"/>
        <activity android:name=".ListTaskItemActivity"/>
        <activity
            android:name=".MapOptimizePathActivity"
            android:label="@string/title_activity_map_optimize_path">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="silver.reminder.itinerary.util.GlobalNaming.INTENT_ACTION_NAME_ALARM_RECEIVER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ReConfigReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
    </application>

</manifest>